---
layout: "layout/secondary.njk"
---

<div class="wrapper alt spotlight style1">
  <div class="inner">
    <div class="content">
      <h2 class="major">
        {{ config.contact.success.header }}
      </h2>
      <p>{{ config.contact.success.message }}</p>
      <ul class="actions">
        <li>
          <a href="/" class="button">{{ config.contact.success.button }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
