<h2 class="major">
  {{ config.contact.header }}
</h2>
<p>{{ config.contact.subheader }}</p>

<script
  src="https://challenges.cloudflare.com/turnstile/v0/api.js"
  async
  defer
></script>

<form name="contact" method="post" action="/contact/submit">
  <div class="fields">
    <div class="field">
      <label for="name">Name</label>
      <input required type="text" name="name" id="name"/>
    </div>
    <div class="field">
      <label for="email">Email</label>
      <input required type="email" name="email" id="email"/>
    </div>
    <div class="field">
      <label for="message">Message</label>
      <textarea required name="message" id="message" rows="4"></textarea>
    </div>
    <div class="field">
      <label>Verification</label>
      <div class="cf-turnstile" data-sitekey="{{ env.TURNSTILE_SITE_KEY }}"></div>
    </div>
  </div>
  <ul class="actions">
    <li><input type="submit" value="Send Message"/></li>
  </ul>
</form>
