<article>
  <div class="image">
    <img src="{{ feature.data.image }}" alt=""/>
  </div>
  <h3 class="major">{{ feature.data.title }}</h3>
  <p>{{ feature.data.description }}</p>
  {# <a href="#" class="special">Learn more</a> #}
</article>
