<section id="footer">
  <div class="inner">

    {% include 'partial/contact-form.njk' %}
    {% include 'partial/contact-details.njk' %}

    <ul class="copyright">
      <li>&copy; {{ config.global.company }}. All rights reserved.</li>
      <li>Design: <a href="http://html5up.net" target="_blank" rel="noopener noreferrer">HTML5 UP</a>
      </li>
    </ul>
  </div>
</section>
