<section id="banner">
  <div class="inner">
    <h2 class="logo flex">
      <img src="/uploads/logo.svg" width="75" alt="">
      {{ config.global.company }}
      <small>
        {{ config.global.companySub }}
      </small>
    </h2>
    <p>
      {{ config.global.slogan }}
    </p>
  </div>
</section>
