<section id="banner">
  <div class="inner">
    <div class="logo">
      <img src="https://picsum.photos/seed/aaa/50" alt="">
      {# <span class="icon fa-gem"></span> #}
    </div>
    <h2>{{ config.template.all.company.title }}</h2>
    <p>
      {{ config.template.all.company.slogan }}
    </p>
  </div>
</section>
