<div class="inner">
  <a href="/">
    <h2 class="logo flex">
      <img src="/uploads/logo-white.svg" width="75" alt="">
      <span>{{ config.global.company }}</span>
      <small>
        {{ config.global.companySub }}
      </small>
    </h2>

  </a>
  <p>
    {{ config.global.slogan }}
    &nbsp;
  </p>
</div>
