<section id="service-{{ service.data.key }}" class="wrapper spotlight style1">
  <div class="inner">
    <div class="image">
      <img src="{{ service.data.image }}" alt=""/>
    </div>
    <div class="content">
      <h2 class="major">
        {{ service.data.title }}
        <span class="icon {{ service.data.icon }}"></span>
      </h2>
      <p>{{ service.data.description }}</p>
      {# <a href="#" class="special">Learn more</a> #}
    </div>
  </div>
</section>
