<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Primary Meta Tags -->
    <title>{{ title }}</title>
    <meta name="title" content="{{ title }}">
    <meta name="description" content="{{ meta.siteDescription }}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ meta.siteUrl }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ meta.siteDescription }}">
    <meta property="og:image" content="{{ meta.siteImage }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ meta.siteUrl }}">
    <meta property="twitter:title" content="{{ title }}">
    <meta property="twitter:description" content="{{ meta.siteDescription }}">
    <meta property="twitter:image" content="{{ meta.siteImage }}">

    <link rel="shortcut icon" href="/uploads/logo-white.svg" type="image/svg+xml" media="(prefers-color-scheme: dark)">
    <link rel="shortcut icon" href="/uploads/logo.svg" type="image/svg+xml" media="(prefers-color-scheme: light)">

    <link rel="stylesheet" href="/assets/css/main{% devEnv '', '.min' %}.css"/>
    <noscript><link rel="stylesheet" href="/assets/css/noscript{% devEnv '', '.min' %}.css"/></noscript>
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body class="is-preload">
    <div id="page-wrapper">

      {# {% include 'partial/menu.njk' %} #}
      <section id="wrapper">
        {{ content | safe }}
      </section>

      {% include 'partial/footer.njk' %}
    </div>

    {% include 'layout/scripts.njk' %}
  </body>
</html>
