---
layout: "layout/base.njk"
---

<header>
  <div class="inner">
    <h2 class="logo flex">
      <img src="/uploads/logo-white.svg" width="75" alt="">
      <span>{{ config.global.company }}</span>
      <small>{{ config.global.companySub }}</small>
    </h2>
    <p>{{ config.global.slogan }}</p>
  </div>
</header>

{{ content | safe }}
