---
layout: "layout/base.njk"
title: NEANMI Software Technologies
---
{% include 'partial/hero.njk' %}

<section id="wrapper">
  {% for service in collections.service | ordered %}
    {% set service_i = loop.index - 1 %}
    {% include 'partial/service.njk' %}
  {% endfor %}

  {% include 'partial/features.njk' %}
</section>
