---
layout: "base.njk"
---

<!-- Header -->
{# <header id="header" class="alt">
        <h1>
          <a href="index.html">Solid State</a>
        </h1>
        <nav>
          <a href="#menu">Menu</a>
        </nav>
      </header> #}

<!-- Menu -->
{# <nav id="menu">
        <div class="inner">
          <h2>Menu</h2>
          <ul class="links">
            <li>
              <a href="index.html">Home</a>
            </li>
            <li>
              <a href="generic.html">Generic</a>
            </li>
            <li>
              <a href="elements.html">Elements</a>
            </li>
            <li>
              <a href="#">Log In</a>
            </li>
            <li>
              <a href="#">Sign Up</a>
            </li>
          </ul>
          <a href="#" class="close">Close</a>
        </div>
      </nav> #}

<!-- Banner -->
<section id="banner">
  <div class="inner">
    <div class="logo">
      <img src="https://picsum.photos/seed/aaa/50" alt="">
      {# <span class="icon fa-gem"></span> #}
    </div>
    <h2>{{ config.template.all.company.title }}</h2>
    <p>{{ config.template.all.company.slogan }}</a>
  </p>
</div>
</section>

<!-- Wrapper -->
<section id="wrapper">

<!-- One -->
<section id="one" class="wrapper spotlight style1">
  <div class="inner">
    <a href="#" class="image"><img src="https://picsum.photos/seed/a/300" alt=""/></a>
    <div class="content">
      <h2 class="major">
        {{ config.template.all.services._1.title }}
        <span class="icon solid fa-wrench"></span>
      </h2>
      <p>{{ config.template.all.services._1.description }}</p>
      {# <a href="#" class="special">Learn more</a> #}
    </div>
  </div>
</section>

<!-- Two -->
<section id="two" class="wrapper alt spotlight style2">
  <div class="inner">
    <a href="#" class="image"><img src="https://picsum.photos/seed/b/300" alt=""/></a>
    <div class="content">
      <h2 class="major">
        <span class="icon solid fa-pen"></span>
        {{ config.template.all.services._2.title }}
      </h2>
      <p>{{ config.template.all.services._2.description }}</p>
      {# <a href="#" class="special">Learn more</a> #}
    </div>
  </div>
</section>

<!-- Three -->
<section id="three" class="wrapper spotlight style3">
  <div class="inner">
    <a href="#" class="image"><img src="https://picsum.photos/seed/c/300" alt=""/></a>
    <div class="content">
      <h2 class="major">{{ config.template.all.services._3.title }}
        <span class="icon solid fa-book"></span></h2>
      <p>{{ config.template.all.services._3.description }}</p>
      {# <a href="#" class="special">Learn more</a> #}
    </div>
  </div>
</section>

<!-- Four -->
<section id="four" class="wrapper alt style1">
  <div class="inner">
    <h2 class="major">{{ config.template.all.copy._1.header }}</h2>
    <p>{{ config.template.all.copy._1.subheader }}</p>
    <section class="features">
      <article>
        <a href="#" class="image"><img src="/uploads/pic04.jpg" alt=""/></a>
        <h3 class="major">{{ config.template.all.feature._1.title }}</h3>
        <p>{{ config.template.all.feature._1.description }}</p>
        <a href="#" class="special">Learn more</a>
      </article>
      <article>
        <a href="#" class="image"><img src="/uploads/pic05.jpg" alt=""/></a>
        <h3 class="major">{{ config.template.all.feature._2.title }}</h3>
        <p>{{ config.template.all.feature._2.description }}</p>
        <a href="#" class="special">Learn more</a>
      </article>
      <article>
        <a href="#" class="image"><img src="/uploads/pic06.jpg" alt=""/></a>
        <h3 class="major">{{ config.template.all.feature._3.title }}</h3>
        <p>{{ config.template.all.feature._3.description }}</p>
        <a href="#" class="special">Learn more</a>
      </article>
      <article>
        <a href="#" class="image"><img src="/uploads/pic07.jpg" alt=""/></a>
        <h3 class="major">{{ config.template.all.feature._4.title }}</h3>
        <p>{{ config.template.all.feature._4.description }}</p>
        <a href="#" class="special">Learn more</a>
      </article>
    </section>
    <ul class="actions">
      <li>
        <a href="#" class="button">Browse All</a>
      </li>
    </ul>
  </div>
</section>

</section>

<!-- Footer -->
<section id="footer">
<div class="inner">
  <h2 class="major">Get in touch</h2>
  <p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p>
  <form name="contact" method="post" data-netlify="true" netlify-honeypot="bot-field" data-netlify-recaptcha="true">
    <div class="fields">
      <div class="field">
        <label for="name">Name</label>
        <input type="text" name="name" id="name"/>
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input type="email" name="email" id="email"/>
      </div>
      <div class="field">
        <label for="message">Message</label>
        <textarea name="message" id="message" rows="4"></textarea>
      </div>
    </div>
    <ul class="actions">
      <li><input type="submit" value="Send Message"/></li>
    </ul>
  </form>
  <ul class="contact">
    <li class="icon solid fa-home">
									Untitled Inc<br/>
									1234 Somewhere Road Suite #2894<br/>
									Nashville, TN 00000-0000
								</li>
    <li class="icon solid fa-phone">(000) 000-0000</li>
    <li class="icon solid fa-envelope">
      <a href="#">information@untitled.tld</a>
    </li>
    <li class="icon brands fa-twitter">
      <a href="#">twitter.com/untitled-tld</a>
    </li>
    <li class="icon brands fa-facebook-f">
      <a href="#">facebook.com/untitled-tld</a>
    </li>
    <li class="icon brands fa-instagram">
      <a href="#">instagram.com/untitled-tld</a>
    </li>
  </ul>
  <ul class="copyright">
    <li>&copy; Untitled Inc. All rights reserved.</li>
    <li>Design: <a href="http://html5up.net">HTML5 UP</a>
    </li>
  </ul>
</div>
</section>
