@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700");

body {
  font-family: "Roboto", sans-serif;
  background-color: #181818;
  color: rgb(202, 202, 202);
}

#eleventy-logo {
  height: 50vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
